/* Discover Paris Main Stylesheet */
@charset "utf-8";
@font-face {
    src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
    font-family: Dancing Script
}
@font-face {
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-family: Open Sans
}
body {
    background-color: #bdbdbd;
    margin: 0;
}
nav.navbar-nav {
    background-color: #73707f;
    position: sticky;
    margin: 0;
    width: 100%;
    height: 5vw;
    margin-bottom: 5vw;
    margin-top: -10px;
    top: 0;
    left: 0;
}
img.headerimg {
    width: 100%;
    height: auto;
}
nav.navbar-nav div.navbar-container {
    display: flex;
    display: flexbox;
    display: -ms-flexbox;
    justify-content: center;
}
nav.navbar-nav div.navbar-container div.navbar-brand img {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 30vw;
    position: relative;
    margin: 0;
}
.navbar-nav div.navbar-container ul.nav-link-set {
    list-style-type: none;
    display: flex;
    display: flexbox;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 15px;
    height: 5vw;
    margin-top: 0px;
}
.navbar-nav div.navbar-container ul.nav-link-set a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin: 10px;
    font-size: 2vw;
}
div.container {
    margin: 15px;
    margin-top: 9vw;
}
h1.page-title {
    text-align: center;
    font-family: Dancing Script, Tahoma, Geneva, Verdana, sans-serif;
}
ol, p, ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.card-list {
    display: flex;
    display: flexbox;
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
div.card-list div.card-container {
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 300px;
    font-family: Open Sans, 'Roboto', sans-serif, arial;
    width: 30%;
    min-width: 150px;
}
div.card-container div.card-header {
    padding: 5px;
    border-bottom: 2px solid #bdbdbd;
    text-align: center;
}
div.card-container div.card-body {
    padding: 5px;
}
div.card-container div.card-footer {
    padding: 5px;
    border-top: 2px solid #bdbdbd;
    text-align: center;
}